APScheduler==3.6.1
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
html5lib==1.0.1
idna==2.8
numpy==1.17.0
opencv-python==4.1.0.25
pkg-resources==0.0.0
pygame==1.9.6
pyttsx==1.1
pyttsx3==2.71
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
tzlocal==2.0.0
urllib3==1.25.3
webencodings==0.5.1
